body {
    background: white;
    font-family: "Times New Roman", Georgia, Serif;
    background-color: #6C8CC7;

}


input[type=text] ,input[type=email], input[type=number] , input[type=password], input[type=date] {
    width: 290px;
    height: 27px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}


select {
    width: 315px;
    height: 34px;
    padding: 4px 10px;
    margin: 10px auto;
    display: block;
}
 

button[type=submit]{
    font-weight: bold;
    margin: 10px auto;
    width: 100%;
    height: 50px;
    background-color: #A6CE39;
    color: #fff;
    font-family: arial;
    font-size:18px;
    border-radius: 20px;
    border: 2px solid #cccccc;
}



/* invalid / valid */
input:invalid {
     color: red;
}
input:valid {
    color: green;
}



#container { 
    display: block;
    padding: 70px;
    width: 390px;
    width: 390px;
    margin: 10px auto;
    margin-top: 5px;
    border: 4px solid #cccccc;
    border-radius: 50%;
}
 

#mainbody {
    display: block;
    margin: 0px auto;
    height:auto;
    width: 350px;
    padding:0px;
    border:0px solid #cccccc;
    
}

#footer {
      width: 400px;
      margin: 0 auto;
      text-align: center;
      border: 0px solid black;
}


#logo {
   border:0px solid black;
   margin-top: 50px;
    margin-left: 370px;
}

.title {
    color:blue;
    font-size: 40px; 
    border: 0px solid black;
}

.block { 
    margin: 5px auto; 
}

.submit { 
    margin: 20 auto; 
    border:0px solid black;
}